.iso.af {
    background-image: url(/img/idiomas/af.png)
}

.iso.ar {
    background-image: url(/img/idiomas/ar.png)
}

.iso.bg {
    background-image: url(/img/idiomas/bg.png)
}

.iso.bs-latn {
    background-image: url(/img/idiomas/bs-latn.png)
}

.iso.ca {
    background-image: url(/img/idiomas/ca.png)
}

.iso.cs {
    background-image: url(/img/idiomas/cs.png)
}

.iso.cy {
    background-image: url(/img/idiomas/cy.png)
}

.iso.da {
    background-image: url(/img/idiomas/da.png)
}

.iso.de {
    background-image: url(/img/idiomas/de.png)
}

.iso.el {
    background-image: url(/img/idiomas/el.png)
}

.iso.en {
    background-image: url(/img/idiomas/en_US.png)
}

.iso.es {
    background-image: url(/img/idiomas/es.png)
}

.iso.et {
    background-image: url(/img/idiomas/et.png)
}

.iso.fa {
    background-image: url(/img/idiomas/fa.png)
}

.iso.fi {
    background-image: url(/img/idiomas/fi.png)
}

.iso.fj {
    background-image: url(/img/idiomas/fj.png)
}

.iso.fr {
    background-image: url(/img/idiomas/fr.png)
}

.iso.he {
    background-image: url(/img/idiomas/he.png)
}

.iso.hi {
    background-image: url(/img/idiomas/hi.png)
}

.iso.hr {
    background-image: url(/img/idiomas/hr.png)
}

.iso.ht {
    background-image: url(/img/idiomas/ht.png)
}

.iso.hu {
    background-image: url(/img/idiomas/hu.png)
}

.iso.id {
    background-image: url(/img/idiomas/id.png)
}

.iso.it {
    background-image: url(/img/idiomas/it.png)
}

.iso.ja {
    background-image: url(/img/idiomas/ja.png)
}

.iso.ko {
    background-image: url(/img/idiomas/ko.png)
}

.iso.lt {
    background-image: url(/img/idiomas/lt.png)
}

.iso.lv {
    background-image: url(/img/idiomas/lv.png)
}

.iso.mg {
    background-image: url(/img/idiomas/mg.png)
}

.iso.ms {
    background-image: url(/img/idiomas/ms.png)
}

.iso.mt {
    background-image: url(/img/idiomas/mt.png)
}

.iso.mww {
    background-image: url(/img/idiomas/mww.png)
}

.iso.nl {
    background-image: url(/img/idiomas/nl.png)
}

.iso.no {
    background-image: url(/img/idiomas/no.png)
}

.iso.pl {
    background-image: url(/img/idiomas/pl.png)
}

.iso.pt {
    background-image: url(/img/idiomas/pt_BR.png)
}

.iso.otq {
    background-image: url(/img/idiomas/otq.png)
}

.iso.ro {
    background-image: url(/img/idiomas/ro.png)
}

.iso.ru {
    background-image: url(/img/idiomas/ru.png)
}

.iso.sk {
    background-image: url(/img/idiomas/sk.png)
}

.iso.sl {
    background-image: url(/img/idiomas/sl.png)
}

.iso.sm {
    background-image: url(/img/idiomas/sm.png)
}

.iso.sr-cyrl {
    background-image: url(/img/idiomas/sr-cyrl.png)
}

.iso.sr-latn {
    background-image: url(/img/idiomas/sr-latn.png)
}

.iso.sv {
    background-image: url(/img/idiomas/sv.png)
}

.iso.sw {
    background-image: url(/img/idiomas/sw.png)
}

.iso.ta {
    background-image: url(/img/idiomas/ta.png)
}

.iso.th {
    background-image: url(/img/idiomas/th.png)
}

.iso.tlh {
    background-image: url(/img/idiomas/tlh.png)
}

.iso.ta {
    background-image: url(/img/idiomas/ta.png)
}

.iso.to {
    background-image: url(/img/idiomas/to.png)
}

.iso.tr {
    background-image: url(/img/idiomas/tr.png)
}

.iso.uk {
    background-image: url(/img/idiomas/uk.png)
}

.iso.ur {
    background-image: url(/img/idiomas/ur.png)
}

.iso.vi {
    background-image: url(/img/idiomas/vi.png)
}

.iso.yua {
    background-image: url(/img/idiomas/yua.png)
}

.iso.yue {
    background-image: url(/img/idiomas/yue.png)
}
